<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>QTies München</title>
    <link href="/css/main.css" rel="stylesheet" />

    <link href="https://queer.party/@qties_muenchen" rel="me">

    <!-- generic browsers -->
    <link rel="icon" href="/img/icons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/img/icons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/img/icons/favicon-192.png" sizes="192x192">
  </head>
  <body>
    {% include header.html %}
    {% include nav.html %}

    <main>
      <div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
